* {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-1 {
    display: flex;
}

.main {
    flex: 1;
    width: 71%;
}

.aside {
    background-color: #3C1370FF;
    width: 19%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.active {
    border-left: 8px solid #9B12B3FF;
    background-color: #461acb;
}

a {
    border-left: 8px solid transparent;

}

.tran {
    transition: 1s;
}
.btn-div{
display: flex;
    justify-content: flex-end;
}
.btn {
    border: 1px solid #B400C9;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #B400C9;
    font-weight: bold;
}

.card-project {
    border: 1px solid #a4a3a3;
    box-shadow: 0 0 20px 5px #a4a3a3;
    object-fit: cover;
}

.grid-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.jsListView{
    width: 100%;
}
.jsGridView{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.jsListView .border{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.img-project{
    width: 100%;
    object-fit: cover;
    height: 300px;
}